localhost {
	tls internal
	encode gzip zstd
	file_server browse
	file_server {
        	precompressed br gzip
	}

	#header {
    #            Cross-Origin-Embedder-Policy require-corp
    #            Cross-Origin-Opener-Policy same-origin
	#}
}
